@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body { background-color: #1e1e1e; font-family: Arial, Helvetica, sans-serif; height: 100vh;}
mark { background-color: #1e1e1e; color: #d09ad4; }

* { padding: 0em; margin: 0em; }




/* menu superior */
div#mensup {
  /* cor */  background-image: linear-gradient(90deg, #070707 64%, #5e3660 100%); box-shadow: 0em 0em 1em #000000;
  /* tam */  height: auto;
  white-space: nowrap; }


/* botão voltar */
mark#voltar {
  /* cor */  background-image: linear-gradient(90deg, #070707 40%,#1e1e1e); box-shadow: 0em 0em 0.5em #000000;
  /* tam */  border-radius: 0.5em;
  font-family: 'Courier New', Courier, monospace; }
ins#iden { color: #d09ad4; text-shadow: 0em 0em 0.25em #7e3783; margin-left: 1.5em; }
ins#voltar, a#voltar { color: #f5f5f5 }
h1#voltar { padding: 0.5em; margin-left: 1em; font-size: 1.5em; }




/* corpo */
main {
  /* cor */  background-color: #f5f5f5; box-shadow: 0em 0em 2.5em #000000;
  /* tam */  width: 80%; padding: 1em; margin: auto; border-radius: 1em; }
h1#titu {
  /* cor */ color: #d09ad4; text-shadow: 0em 0em 0.25em #7e3783;
  /* tam */ margin-left: 17.5%; margin-top: 2em; }




/* menu inferior */
nav#mensub {
  top: 100%;
  position: bottom bottom;
  background-image: linear-gradient(90deg, #070707 64%, #5e3660 100%);
  margin-left: -0.5em;
  box-shadow: 0em 0em 1em #000000;
  margin-top: 1em;
  text-align: center;
  height: auto;
}
nav#trocatroca { padding: 0.25em; font-size: 1.5em; line-height: 1.5em; }
nav#trocatroca mark{ transition-duration: 0.25s; }


nav#mensub abbr,a {
  text-decoration: none;
  color: #000000;
}
nav#mensub mark:hover {
  text-shadow: #f5f5f5;
  background-color: #d09ad4;
  border: #d09ad4 solid 0.1em;
  color: #f5f5f5;
}
nav#mensub mark.menneg:hover {
  background-color: #5e3660;
}

a.opa1 mark {
  font-size: 0.675em;
  padding: 0.16em 0.32em 0.12em 0.32em;
}

a.opa2 mark {
  font-size: 0.75em;
  padding: 0.065em 0.175em 0.048em 0.175em;
}



mark#menneg { background-color: #5d455f; } a#menneg { color: #5d455f; }
mark#mensub { font-size: 0.70em; padding: 0.1em; margin-bottom: 2em; }

nav#trocatroca > a:hover { border: 0.5em; color: #d09ad4; }
nav#trocatroca > mark, abbr, a { text-shadow: 0em 0em 0.25em #d09ad4; }

nav#trocatroca > mark { font-family: 'Crimson Text', serif; }